<%- include('../partials/_header') %>

<div class="container mt-5">

  <div class="row my-5">
      <div class="col-sm-10 col-12">
          <h3 id="quote" class="text-white">Cambio de password</h3>
          <p class="text-white" >Ingrese su clave</p>
      </div>
      <div class="col-sm-2 col-12">
      <a class="btn btn-primary mx-auto" href="/">Volver</a>
      </div>
  </div>

  <div class="container my-5">
    <div class="card  p-5 shadow ">
      <form id="Login" action="/resetPassword" method="post">
        <input id="email" type="hidden" name="email" value="<%= usuario.email %>">

        <div class="form-group">
          <label for="pwd" class='font-weight-bolder'>Password: </label>
          <input class="form-control <%= errors.password ? 'is-invalid' : '' %>" id="pwd" type="password" name="password"/>
          <% if(errors.password){ %>
            <p style="color:red"><%= errors.password.message  %> </p>
          <% }; %>
        </div>

        <div class="form-group">  
            <label for="confirm_pwd" class='font-weight-bolder'>Confirm Password:</label>
            <input type="password" class="form-control shadow-sm <% errors.confirm_password ? 'is-invalid' : '' %>" value = "<%= confirm_password %>"  type="password" name='confirm_password'>
            <% if(errors.confirm_password){ %>
                <p style="color:red"> <%= errors.confirm_password.message  %> </p>    
            <% }; %>
        <div>

        <button type="submit"  class="btn btn-info btn-block mt-3">Grabar</button>                

      </form>


      
    </div>                  
  </div>  



</div>  